@model ProjectsModel
@{
    ViewData["Title"] = "Проекты";
}

<form asp-action="DeleteProject" asp-controller="Admin" method="post">
    <div>
        <table class="table-responsive" style="height:400px; margin-top:25px; padding-bottom:25px">
            <tr>
                <th style="user-select:none;">
                </th>
                <th style="user-select:none;">
                    Название проекта:
                </th>
                <th style="user-select:none;">
                    Дата начала:
                </th>
                <th style="user-select:none;">
                    Дата конца:
                </th>
            </tr>
            @foreach (ProjectsModel pr in ViewBag.Projects)
            {
                <tr>
                    <td style="user-select:none; text-align:left; min-width:300px">
                        <div class="d-inline-block">
                            <button type="submit" name="id" value="@pr.ID">Удалить</button>
                            <button asp-controller="Admin" asp-action="Risks" asp-route-projectId="@pr.ID">Настроить риски</button>
                        </div>
                    </td>
                    <td style="user-select:none; text-align:left; min-width:400px">
                        @pr.Name
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @pr.Start_Date.ToShortDateString()
                    </td>
                    <td style="user-select:none; text-align:left; min-width:150px">
                        @pr.End_Date.ToShortDateString()
                    </td>
                </tr>
            }
        </table>
    </div>

</form>

<form asp-action="Projects" asp-controller="Admin" method="post">
    <div class="text-center" style="font-size:14px;">
        <input style="min-height: 35px" asp-for="Name" placeholder="Новый проект..." />
        <input type="date" asp-for="Start_Date" />
        <input type="date" asp-for="End_Date" />
        <button class="btnLesh" type="submit">Добавить</button>
    </div>
</form>
