@model RiskModel
@{
    ViewData["Title"] = "Риски проекта";
}
<div style="transform:translate(8%,0)">
    <div class="leftcol" style="background:rgb(219 95 95); margin-right:25px">
        <form asp-action="DeleteRisk" asp-controller="Admin" method="post">
            <div class="text-left">
                <table class="table-responsive" style="height:400px; margin-top:25px; padding-bottom:25px">
                    <tr>
                        <th style="user-select:none;"></th>
                        <th style="user-select:none;">Имя</th>
                        <th style="user-select:none;">Ранг</th>
                    </tr>
                    @foreach (RiskModel pr in ViewBag.Risks)
                    {
                        <tr class="RisksTableRow" onclick="Switch('editLabel'); Enable('EditPanel'); FillInputs('@(pr.ID)', '@(pr.Name)', '@(pr.Discription)', '@(pr.User.ID)', '@(pr.Reaction.ID)', '@(pr.Influence.ID)', '@(pr.Chance.ID)', '@(pr.Type.ID)');">

                            <td style="user-select:none;">
                                <button type="submit" name="id" value="@pr.ID">Удалить</button>
                            </td>

                            <td style="user-select:none; min-width:300px">
                                @pr.Name
                            </td>

                            <td style="user-select:none; min-width:30px">
                                @(pr.Influence.ID*pr.Chance.ID)
                            </td>

                        </tr>
                    }
                </table>
            </div>
        </form>
    </div>


    <div style="background: rgb(128 189 77); margin-left:25px" class="rightcol">

        <div style="width:100%; display:table-cell; width:50%;">
            <div style="">
                <label id="addLabel" style="user-select:none; background:black; color:white; min-width:49%; margin:2px 0 2px 0" for="add"><input hidden id="add" type="radio" onclick="Enable('AddPanel'); Switch('addLabel')">Добавление</label>
                <label id="editLabel" style="user-select:none; background: white; color: black; min-width: 49%; margin: 2px 0 2px 0" for="edit"><input hidden id="edit" type="radio" onclick="Enable('EditPanel'); Switch('editLabel')">Редактирование</label>
            </div>

            <form name="Panel" id="AddPanel" asp-action="Risks" asp-controller="Admin" method="post">
                <div style="font-size:14px;">

                    <p>Название риска</p>
                    <input style="min-height: 35px; width:60%" asp-for="Name" type="text" placeholder="Название риска..." />

                    <p>Описание</p>
                    <textarea rows="4" style="min-height: 35px;  width:60%" asp-for="Discription" type="text" placeholder="Описание..."></textarea>

                    <div class="text-left">
                        <label>
                            Ответственный
                            @Html.DropDownList("UserId", ViewBag.Users as SelectList, "Ответственный")
                        </label>

                        <label>
                            Вероятность
                            @Html.DropDownList("ChanceId", ViewBag.Chances as SelectList, "Вероятность события")
                        </label>
                        <label>
                            Стратегия реагирования
                            @Html.DropDownList("ReactionId", ViewBag.Reactions as SelectList, "Стратегия реагирования")
                        </label>

                        <label>
                            Влияние на проект
                            @Html.DropDownList("InfluenceId", ViewBag.Influences as SelectList, "Влияние на проект")
                        </label>

                        <label>
                            Тип риска
                            @Html.DropDownList("TypeId", ViewBag.Types as SelectList, "Тип риска")
                        </label>

                    </div>

                    <div class="text-center">
                        <button type="submit" asp-route-edit="@false" asp-route-projectId="@ViewBag.projectId">Добавить риск к проекту</button>
                    </div>
                </div>
            </form>

            <form hidden="hidden" name="Panel" id="EditPanel" asp-action="Risks" asp-controller="Admin" method="post">
                <div style="font-size:14px;">

                    <div class="text-left">

                        <p>Название риска</p>
                        <input style="min-height: 35px; width:60%" asp-for="Name" id="EditName" type="text" placeholder="Название риска..." />

                        <p>Описание</p>
                        <textarea rows="4" style="min-height: 35px;  width:60%" id="EditDis" asp-for="Discription" type="text" placeholder="Описание..."></textarea>

                        <div class="text-left">
                            <p>Ответственный</p>
                            @Html.DropDownList("UserId", ViewBag.Users as SelectList, "Ответственный", new { @id = "EditUser" })

                            <p>Вероятность</p>
                            @Html.DropDownList("ChanceId", ViewBag.Chances as SelectList, "Вероятность события", new { @id = "EditChance" })

                            <p>Стратегия реагирования</p>
                            @Html.DropDownList("ReactionId", ViewBag.Reactions as SelectList, "Стратегия реагирования", new { @id = "EditReaction" })

                            <p>Влияние на проект</p>
                            @Html.DropDownList("InfluenceId", ViewBag.Influences as SelectList, "Влияние на проект", new { @id = "EditInfluence" })

                            <p>Тип риска</p>
                            @Html.DropDownList("TypeId", ViewBag.Types as SelectList, "Тип риска", new { @id = "EditType" })
                        </div>

                        @Html.HiddenFor(x => x.ID, new { @id = "riskid" })

                        <button type="submit" asp-route-edit="@true" asp-route-projectId="@ViewBag.projectId">Сохранить изменения</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>

    let Name = document.getElementById('EditName');
    let Dis = document.getElementById('EditDis');

    let ReacId = document.getElementById('EditReaction');
    let InfId = document.getElementById('EditInfluence');
    let ChanceId = document.getElementById('EditChance');
    let UsrId = document.getElementById('EditUser');
    let TypeId = document.getElementById('EditType');


    let RiskId = document.getElementById('riskid');

    let Panels = document.getElementsByName("Panel");

    let editBtn = document.getElementById('editLabel');
    let addBtn = document.getElementById('addLabel');

    function FillInputs(_riskid, _Name, _Dis, _UserId, _ReacId, _InfId, _ChanceId, _TypeId) {
        RiskId.value = _riskid;

        Name.value = _Name;
        Dis.value = _Dis;

        UsrId.value = _UserId;
        ReacId.value = _ReacId;
        InfId.value = _InfId;
        ChanceId.value = _ChanceId;
        TypeId.value = _TypeId;
    }

    function Enable(id) {

        for (let i = 0; i < Panels.length; i++) {
            Panels[i].hidden = true;
        }

        document.getElementById(id).hidden = false;
    }

    function Switch(id) {

        editBtn.style.background = 'White';
        editBtn.style.color = 'Black';

        addBtn.style.background = 'White';
        addBtn.style.color = 'Black';

        document.getElementById(id).style.background = 'Black'
        document.getElementById(id).style.color = 'White'

    }



</script>


